* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payForm {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 1rem 2rem;
  background: linear-gradient(to bottom right, #ddd, #eee);
  border-radius: 2rem;
}
.payForm .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #ccc;
}

.payForm h2 {
  font-weight: 400;
  font-size: 1.2rem;
}
.payForm .logo img {
  display: block;
  height: 40px;
}

.payForm h3 {
  margin-bottom: 0.4rem;
  margin-top: 1rem;
  font-weight: 400;
}
.payForm input {
  width: 100%;
}
.payForm .cardDate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.payForm .cardDate .cvv {
  flex-basis: 30%;
  flex-grow: 0;
}
